.input {
  border-radius: 0.5rem;
  border: 1px solid $clr-neutral-300;
  color: $clr-neutral-400;
  font-size: $fs-300;
  font-weight: $fw-600;
  padding: 1rem 1.125rem;

  &:focus {
    outline: 1px solid $clr-neutral-400;
  }

  &[data-valid='false'] {
    color: $clr-primary-400;
    outline: 2px solid $clr-primary-400;
    background-image: url('../images/icon-error.svg');
    background-repeat: no-repeat;
    background-position-x: right 1rem;
    background-position-y: center;
  }

  &__alert {
    color: $clr-primary-400;
    display: block;
    font-size: $fs-100;
    font-style: italic;
    font-weight: $fw-400;
    margin-top: 0.2rem;
    text-align: right;
  }
}
