body {
  color: $clr-neutral-100;
  font-family: $ff-default;
  font-size: $fs-300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: $fw-700;
}

h1 {
  font-size: $fs-700;
  line-height: 1.015;
}

h2 {
  font-size: $fs-600;
}

h3,
h4 {
  font-size: $fs-400;
}

cite {
  font-style: normal;
}
